.menu-icon {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    z-index: 1001;
}

.menu-icon .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    transition: all 0.3s ease;
}

.menu-icon.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.menu-icon.active .bar:nth-child(2) {
    opacity: 0;
}

.menu-icon.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}
@media (max-width: 768px) {
    main {
        flex-direction: column;
    }

    menu {
        width: 100%;
        position: fixed;
        top: 60px;
        left: -100%;
        height: calc(100vh - 60px);
        z-index: 100;
        overflow-y: auto;
    }

    menu.active {
        left: 0;
    }

    .menu-icon {
        display: flex;
    }
    .menu-icon:hover {
        background-color: aqua;

    }
    
}